/* css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;

}
/* heading*/

#logo{
    padding-left: 20px;
    padding-top: 10px;
    vertical-align: middle;
}

h1 {
  font-family: secular one, sans-serif;
  display: inline;
  vertical-align: middle;
  font-size: 35px;
}

.intestazione{
    background-color: #fff;
    height: 65px;
    margin-bottom: 40px;
    
}
/*add section*/

.add-buttons{
   
   background-color: rgb(255, 255, 255);
   margin: auto;
   padding: 10px;
   width: 50%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom: 0px;
   

}
#add-task{
    background-color:rgb(31,144,255) ;
    color: #fff;
    padding: 8px;
    border-radius: 9%;
    border-color: rgb(31,144,255);
    border-style: none;
    margin-left: 2%;
    cursor: pointer;
}
#add-section{
    background-color:rgb(255, 255, 255) ;
    color: rgb(127,128,144);
    padding: 7px;
    border-radius: 9%;
    border-color: rgb(127,128,144);
    border-width: 1px;
    cursor: pointer;
    margin-left: 1px;
    

    
}
body{
    background-color: rgb(245, 237, 237) ;
    
}

.results{
   background-color: rgb(255, 255, 255);
   margin: 2px auto;
   width: 50%;
   padding-top: 50px;
   padding-bottom: 20px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   


}

details{
    
   margin-left: 25px;
}




h3{
    display: inline;
}
#vero{
    border-color:rgb(96,172,91);
    border-radius: 50%;
    background-color:#fff;
    margin-right: 5px;
    padding: 0.001%;
    border-width: 0.4px;
    border-style: solid;
    color: rgb(96,172,91) ;

}

#falso{
    border-color:rgb(207,0,0);
    border-radius: 50%;
    background-color:#fff;
    margin-right: 5px;
    padding: 0.001%;
    border-width: 0.4px;
    border-style: solid;
    color: rgb(207, 0, 0);
}



.editorial{
    background-color: rgb(69,171,234);
    color: #fff;
    padding: 5px;
    border-radius: 40%;
    margin-left: 1%;
    
}
.q1-goals{
    color: #fff;
    background-color: rgb(156,114,228);
    color: #fff;
    padding: 5px;
    border-radius: 40%;
    margin-left: 1%;
    

}
.recruiting{
    color: #fff;
    background-color: rgb(100,192,169);
    color: #fff;
    padding: 5px;
    border-radius: 40%;
    margin-left: 1%;
    

}
.mobile{
    
    color: #fff;
    background-color: rgb(242,158,51);
    color: #fff;
    padding: 6px;
    border-radius: 30%;
    margin-left: 2%;
    
}
.website{
    
    color: #fff;
    background-color: rgb(216,99,161);
    color: #fff;
    padding: 5px;
    border-radius: 30%;
    margin-left: 1%;
    
}
.sales{
    
    color: #fff;
    background-color: rgb(216,99,161);
    color: #fff;
    padding: 5px;
    border-radius: 30%;
    margin-left: 1%;
    
}
.editorial-orange{
    background-color: rgb(242,158,51);
    color: #fff;
    padding: 5px;
    border-radius: 40%;
    margin-left: 1%;
}
